body {
  padding-left: 270px;
  padding-right: 270px;
  font-family: "Open Sans", sans-serif;
}

.searchbars {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#footer {
  background-color: grey;
  padding: 0 15%;
  font-family: BentonSansBook;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: #4d4f53;
  margin-bottom: 80px;
}
