body {
  padding-left: 270px;
  padding-right: 270px;
  font-family: "Open Sans", sans-serif;
}

nav {
  color: white;
  background-color: white;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 0;
  padding: 0;
}

#dropdown {
  background-color: rgb(186, 186, 186);
  justify-content: right;
  color: red;
}

.searchbars {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#footer {
  background-color: grey;
  padding: 0 15%;
  font-family: BentonSansBook;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  color: #4d4f53;
  margin-bottom: 80px;
}
